.form-product {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-product .form-floating:focus-within {
  z-index: 2;
}

.form-product input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-product input[type="number"] {
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-product textarea {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}